{:duct.profile/base
 {:duct.core/project-ns scramblies-back

  :duct.router/ataraxy
  {:routes
   {[:get "/scramble/" string "/" target] [:scramblies-back.handler/scramble string target]}}

  :scramblies-back.handler/scramble {}}

 :duct.profile/dev   #duct/include "dev"
 :duct.profile/local #duct/include "local"
 :duct.profile/prod  {}

 :duct.module/logging {}
 :duct.module.web/api
 {}}
